.root {
  -fx-background-color: blue;
}

Rectangle {
  -fx-stroke: green;
  -fx-stroke-width: 5;
}

.primary {
  -fx-fill: orange;

}

.secondary {
  -fx-fill: yellow;
}

#title {
  -fx-fill: gray;
}
